<!-- Dashboard -->
<li class="nav-item">
  <a href="{% url 'home' %}" class="nav-link">
    <i class="fas fa-tachometer-alt nav-icon"></i>
    <p>Dashboard</p>
  </a>
</li>

<!-- Article Management -->
{% if perms.user.view_normaluser %}
<li class="nav-item has-treeview">
  <a href="#" class="nav-link">
    <i class="fas fa-newspaper nav-icon"></i>
    <p>
      Article Management
      <i class="fas fa-angle-left right"></i>
    </p>
  </a>
  <ul class="nav nav-treeview">
    <li class="nav-item">
      <a href="{% url 'admin_app:user-view' %}" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
        <p>All Articles</p>
      </a>
    </li>
  </ul>
</li>
{% endif %}

<!-- User Management -->
<li class="nav-item has-treeview">
  <a href="#" class="nav-link">
    <i class="fas fa-users nav-icon"></i>
    <p>
      User Management
      <i class="fas fa-angle-left right"></i>
    </p>
  </a>
  <ul class="nav nav-treeview">
    <li class="nav-item">
      <a href="{% url 'admin_app:reviewer-index' %}" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
        <p>Reviewers</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'admin_app:normal-user-index' %}" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
        <p>Authors</p>
      </a>
    </li>
  </ul>
</li>

<!-- Category Management -->
{% include "sidebar/includes/category.html" %}

<!-- Permission Management -->
<li class="nav-item has-treeview">
  <a href="#" class="nav-link">
    <i class="fas fa-user-lock nav-icon"></i>
    <p>
      Permissions
      <i class="fas fa-angle-left right"></i>
    </p>
  </a>
  <ul class="nav nav-treeview">
    <li class="nav-item">
      <a href="{% url 'role_app:add_role' %}" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
        <p>Add Role</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'role_app:manage_role' %}" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
        <p>Manage Roles</p>
      </a>
    </li>
  </ul>
</li>

<!-- Settings -->
<li class="nav-item has-treeview">
  <a href="#" class="nav-link">
    <i class="fas fa-cog nav-icon"></i>
    <p>
      Settings
      <i class="fas fa-angle-left right"></i>
    </p>
  </a>
  <ul class="nav nav-treeview">
    <li class="nav-item">
      <a href="{% url 'admin_app:notice-index' %}" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
        <p>Notices</p>
      </a>
    </li>
  </ul>
</li>

<!-- Logout -->
<li class="nav-item">
  <a href="{% url 'logout' %}" class="nav-link">
    <i class="fas fa-sign-out-alt nav-icon"></i>
    <p>Logout</p>
  </a>
</li>