<!-- Dashboard -->
<li class="nav-item">
  <a href="{% url 'home' %}" class="nav-link">
    <i class="fas fa-home nav-icon"></i>
    <p>Dashboard</p>
  </a>
</li>

<!-- All Papers -->
<li class="nav-item">
  <a href="{% url 'admin_app:user-view' %}" class="nav-link">
    <i class="fas fa-file-alt nav-icon"></i>
    <p>All Papers</p>
  </a>
</li>

<!-- Assign Reviewers -->
<li class="nav-item">
  <a href="{% url 'admin_app:assign-reviewers' %}" class="nav-link">
    <i class="fas fa-user-check nav-icon"></i>
    <p>Assign Reviewers</p>
  </a>
</li>

<!-- Manage Users -->
<li class="nav-item">
  <a href="{% url 'admin_app:normal-user-index' %}" class="nav-link">
    <i class="fas fa-users nav-icon"></i>
    <p>Manage Users</p>
  </a>
</li>

<!-- Manage Reviewers -->
<li class="nav-item">
  <a href="{% url 'admin_app:reviewer-index' %}" class="nav-link">
    <i class="fas fa-user-check nav-icon"></i>
    <p>Manage Reviewers</p>
  </a>
</li>

<!-- Categories -->
{% include "sidebar/includes/category.html" %}

<!-- Settings -->
<li class="nav-item">
  <a href="{% url 'admin_app:notice-index' %}" class="nav-link">
    <i class="fas fa-cog nav-icon"></i>
    <p>Settings</p>
  </a>
</li>

<!-- Logout -->
<li class="nav-item">
  <a href="{% url 'logout' %}" class="nav-link">
    <i class="fas fa-sign-out-alt nav-icon"></i>
    <p>Logout</p>
  </a>
</li>