<!-- Dashboard -->
<li class="nav-item">
  <a href="{% url 'home' %}" class="nav-link">
    <i class="fas fa-home nav-icon"></i>
    <p>Dashboard</p>
  </a>
</li>

<!-- All Manuscripts -->
<li class="nav-item">
  <a href="{% url 'admin_app:user-view' %}" class="nav-link">
    <i class="fas fa-file-alt nav-icon"></i>
    <p>All Manuscripts</p>
  </a>
</li>

<!-- Assign Reviewers -->
<li class="nav-item">
  <a href="{% url 'admin_app:assign-reviewers' %}" class="nav-link">
    <i class="fas fa-user-check nav-icon"></i>
    <p>Assign Reviewers</p>
  </a>
</li>

<!-- Editorial Decisions -->
<li class="nav-item">
  <a href="{% url 'reviewer:pending-reviews' %}" class="nav-link">
    <i class="fas fa-gavel nav-icon"></i>
    <p>Make Decisions</p>
  </a>
</li>

<!-- Profile -->
<li class="nav-item">
  <a href="{% url 'user:update_profile' %}" class="nav-link">
    <i class="fas fa-user nav-icon"></i>
    <p>My Profile</p>
  </a>
</li>

<!-- Logout -->
<li class="nav-item">
  <a href="{% url 'logout' %}" class="nav-link">
    <i class="fas fa-sign-out-alt nav-icon"></i>
    <p>Logout</p>
  </a>
</li>